## Imports

In [2]:
# Install needed packages first:
# pip install langchain langchain-community openai pandas
# from langchain import LLMChain, PromptTemplate
# from langchain.chat_models import ChatOpenAI
# from langchain_core.output_parsers import StrOutputParser
# from langchain_core.prompts import PromptTemplate
# from langchain_openai import OpenAI

from langchain.tools import tool
from langchain.chat_models import init_chat_model

from langchain_community.document_loaders import PyPDFLoader

import pandas as pd
import json
import re
import numpy as np


from langchain.tools import tool
from langchain.agents import create_agent

### Parser Tools

In [3]:
@tool
def parse_pdf(file_path: str) -> str:
    """Load PDF and return raw text."""
    loader = PyPDFLoader(file_path)
    docs = loader.load()
    full_text = "\n".join([doc.page_content for doc in docs])
    return full_text

@tool
def parse_excel(files_path: str) -> str:
    """Load Excel and return JSON-string of rows."""
    df = pd.read_csv("statements\oct2025_csv.csv", header=None)
    info_df = df.iloc[:20]
    info_df = info_df.drop(columns=[2,3,4,5,6])
    info_text = info_df.to_string(index=False, header=False)

    # Clean the text:
    info_text = "\n".join(
        re.sub(r'\s+', ' ', line.strip())   
        for line in info_text.splitlines()
        if line.strip()                    
    )

    transaction_df = df.iloc[21:].copy() # data starts from row 21 downward
    headers = [str(col).strip() for col in df.iloc[20].tolist()]
    transaction_df.columns = headers

    transaction_df = transaction_df.drop(columns=["Value Date"])

    # Replace empty strings or whitespace-only cells with NaN
    transaction_df['Credit'] = transaction_df['Credit'].replace(r'^\s*$', np.nan, regex=True)
    transaction_df['Debit'] = transaction_df['Debit'].replace(r'^\s*$', np.nan, regex=True)

    transaction_df = transaction_df.rename(columns={"Txn Date": "Date", "Ref No./Cheque No.": "Reference Number"})

    transaction_df["Type"] = np.where(
        transaction_df['Credit'].notna(), 'Income',
        np.where(transaction_df['Debit'].notna(), 'Expense', 'Unknown')
    )

    trans_json = transaction_df.to_json(orient="records")

    return info_text, trans_json

### Agent

In [26]:
categorize_schema = {
    "type": "object",
    "description": "Structured output containing categorized bank transactions.",
    "properties": {
        "overview": {"type": "string", "description": (
            "Basic details of the statement file, including the account holder's name, "
            "account number, address, opening balance, and closing balance, etc. along with a brief overview of the account holder."
        )},
        "transactions": {
            "type": "array",
            "description": "List of categorized transactions.",
            "items": {
                "type": "object",
                "properties": {
                    "date": {"type": "string", "description": "Transaction date."},
                    "description": {"type": "string", "description": "Narration or details."},
                    "amount": {"type": "number", "description": "Positive for income, negative for expense."},
                    "type": {
                        "type": "string",
                        "enum": ["income", "expense"],
                        "description": "Transaction type."
                    },
                    "category": {
                        "type": "string",
                        "description": (
                            "For income: one of ['salary', 'investment redemption', 'dividend', 'interest', 'other']; "
                            "for expense: one of ['groceries', 'rent', 'food', 'EMI', 'investment', 'utilities', 'travel', "
                            "'entertainment', 'medical', 'other']."
                        )
                    }
                },
                "required": ["date", "description", "amount", "type", "category"]
            }
        },
        "insights": {"type": "string", "description": (
            "Insights on spending patterns, savings rate, unusual transactions, and "
            "personalized financial recommendations for the account holder."
        )}
    },
    "required": ["overview", "transactions", "insights"]
}



agent = create_agent(
    model="openai:gpt-5-nano",
    tools=[parse_excel, parse_pdf],
    system_prompt=(
        "You are a financial data assistant. You will be given either an Excel or PDF file path. Use the correct tool "
        "(parse_excel or parse_pdf) to extract transaction details. From the extracted data, identify all the transactions "
        "and output them in the specified response schema. Each transaction must include date, description, amount, type "
        "(“income” or “expense”), and a clear category. Use appropriate categories (salary, rent, groceries, utilities, etc.) "
        "and avoid using “other” unless absolutely necessary. Do not leave any transaction uncategorized or missing."
    ),
    response_format=categorize_schema  # Auto-selects ProviderStrategy
)

result = agent.invoke({
    "messages": [{"role": "user", "content": "statements\Mock_Bank_Statement.pdf"}]
})

result["structured_response"]

{'overview': 'Account: Rahul Verma | Bank: State Bank of India | Branch: Kormangala, Bangalore | Account Number: 0000005023841123 | Statement period: 01-Apr-2024 to 31-Aug-2024 | Closing balance: 326,800. Opening balance not shown in the extracted data. The statement shows regular salary credits from Infosys and recurring expenses across groceries, utilities, rent, travel, entertainment, and EMI payments. A refund of 3,000 was received on 21-May-2024 ( Indigo Airlines ). Overall, spending leans toward discretionary categories (food, entertainment, travel) with substantial EMI payments and monthly rent; salary deposits provide liquidity for savings, culminating in a closing balance of 326,800.',
 'transactions': [{'date': '2024-04-01',
   'description': 'Salary Credit – INFOSYS LTD',
   'amount': 120000,
   'type': 'income',
   'category': 'salary'},
  {'date': '2024-04-03',
   'description': 'AMAZON Purchase – Groceries',
   'amount': -3200,
   'type': 'expense',
   'category': 'groceries'},
  {'date': '2024-04-05',
   'description': 'EMI Payment – HDFC BANK Loan No. 8734',
   'amount': -12500,
   'type': 'expense',
   'category': 'EMI'},
  {'date': '2024-04-07',
   'description': 'ZOMATO – Food Order',
   'amount': -2400,
   'type': 'expense',
   'category': 'food'},
  {'date': '2024-04-10',
   'description': 'Swiggy – Food Delivery',
   'amount': -1500,
   'type': 'expense',
   'category': 'food'},
  {'date': '2024-04-12',
   'description': 'Interest on FD – SBI',
   'amount': 2000,
   'type': 'income',
   'category': 'interest'},
  {'date': '2024-04-15',
   'description': 'IRCTC – Train Ticket (Delhi Trip)',
   'amount': -4800,
   'type': 'expense',
   'category': 'travel'},
  {'date': '2024-04-18',
   'description': 'Fuel Payment – HP Petrol Pump',
   'amount': -5000,
   'type': 'expense',
   'category': 'travel'},
  {'date': '2024-04-20',
   'description': 'Rent Transfer – To ANKIT SHARMA',
   'amount': -15000,
   'type': 'expense',
   'category': 'rent'},
  {'date': '2024-04-23',
   'description': 'Netflix Annual Subscription',
   'amount': -3000,
   'type': 'expense',
   'category': 'entertainment'},
  {'date': '2024-05-01',
   'description': 'Salary Credit – INFOSYS LTD',
   'amount': 120000,
   'type': 'income',
   'category': 'salary'},
  {'date': '2024-05-03',
   'description': 'EMI Payment – HDFC BANK Loan No. 8734',
   'amount': -12500,
   'type': 'expense',
   'category': 'EMI'},
  {'date': '2024-05-05',
   'description': 'SPAR – Groceries',
   'amount': -2700,
   'type': 'expense',
   'category': 'groceries'},
  {'date': '2024-05-07',
   'description': 'Swiggy – Food Order',
   'amount': -1200,
   'type': 'expense',
   'category': 'food'},
  {'date': '2024-05-09',
   'description': 'Uber – Local Travel',
   'amount': -3000,
   'type': 'expense',
   'category': 'travel'},
  {'date': '2024-05-12',
   'description': 'Indigo Airlines – Flight to Delhi',
   'amount': -9800,
   'type': 'expense',
   'category': 'travel'},
  {'date': '2024-05-15',
   'description': 'Rent Transfer – To ANKIT SHARMA',
   'amount': -15000,
   'type': 'expense',
   'category': 'rent'},
  {'date': '2024-05-18',
   'description': 'BigBasket – Groceries',
   'amount': -2500,
   'type': 'expense',
   'category': 'groceries'},
  {'date': '2024-05-21',
   'description': 'Refund – Indigo Airlines',
   'amount': 3000,
   'type': 'income',
   'category': 'other'},
  {'date': '2024-05-25',
   'description': 'Café Coffee Day – Entertainment',
   'amount': -4200,
   'type': 'expense',
   'category': 'entertainment'},
  {'date': '2024-05-28',
   'description': 'Shopping – Lifestyle Mall',
   'amount': -4200,
   'type': 'expense',
   'category': 'entertainment'},
  {'date': '2024-06-01',
   'description': 'Salary Credit – INFOSYS LTD',
   'amount': 120000,
   'type': 'income',
   'category': 'salary'},
  {'date': '2024-06-03',
   'description': 'EMI Payment – HDFC BANK Loan No. 8734',
   'amount': -12500,
   'type': 'expense',
   'category': 'EMI'},
  {'date': '2024-06-05',
   'description': 'Amazon Fresh – Groceries',
   'amount': -1900,
   'type': 'expense',
   'category': 'groceries'},
  {'date': '2024-06-07',
   'description': 'BigBasket – Groceries',
   'amount': -15000,
   'type': 'expense',
   'category': 'groceries'},
  {'date': '2024-06-09',
   'description': 'Rent Transfer – To ANKIT SHARMA',
   'amount': -5000,
   'type': 'expense',
   'category': 'rent'},
  {'date': '2024-06-12',
   'description': 'Goibibo – Hotel Booking',
   'amount': -2800,
   'type': 'expense',
   'category': 'travel'},
  {'date': '2024-06-14',
   'description': 'Swiggy – Lunch Order',
   'amount': -3200,
   'type': 'expense',
   'category': 'food'},
  {'date': '2024-06-18',
   'description': 'Medical Store – Apollo Pharmacy',
   'amount': -2000,
   'type': 'expense',
   'category': 'medical'},
  {'date': '2024-06-22',
   'description': 'Auto Debit – Mobile Bill (Airtel)',
   'amount': -6500,
   'type': 'expense',
   'category': 'utilities'},
  {'date': '2024-06-25',
   'description': 'Movie + Dinner – Entertainment',
   'amount': -7000,
   'type': 'expense',
   'category': 'entertainment'},
  {'date': '2024-06-27',
   'description': 'EMI Payment – SBI Credit Card',
   'amount': -4500,
   'type': 'expense',
   'category': 'EMI'},
  {'date': '2024-07-01',
   'description': 'Salary Credit – INFOSYS LTD',
   'amount': 120000,
   'type': 'income',
   'category': 'salary'},
  {'date': '2024-07-03',
   'description': 'EMI Payment – HDFC BANK Loan No. 8734',
   'amount': -12500,
   'type': 'expense',
   'category': 'EMI'},
  {'date': '2024-07-05',
   'description': 'BigBasket – Groceries',
   'amount': -2000,
   'type': 'expense',
   'category': 'groceries'},
  {'date': '2024-07-07',
   'description': 'Travel – Ola Outstation',
   'amount': -1200,
   'type': 'expense',
   'category': 'travel'},
  {'date': '2024-07-12',
   'description': 'Rent Transfer – To ANKIT SHARMA',
   'amount': -15000,
   'type': 'expense',
   'category': 'rent'},
  {'date': '2024-07-15',
   'description': 'Swiggy – Dinner',
   'amount': -2200,
   'type': 'expense',
   'category': 'food'},
  {'date': '2024-07-18',
   'description': 'EMI Payment – HDFC BANK (Late Fee Applied)',
   'amount': -6200,
   'type': 'expense',
   'category': 'EMI'},
  {'date': '2024-07-19',
   'description': 'EMI Late Payment Penalty – HDFC BANK',
   'amount': -500,
   'type': 'expense',
   'category': 'EMI'},
  {'date': '2024-07-22',
   'description': 'Medical Insurance Premium – LIC',
   'amount': -8000,
   'type': 'expense',
   'category': 'medical'},
  {'date': '2024-07-25',
   'description': 'Restaurant – Friends Dinner',
   'amount': -4500,
   'type': 'expense',
   'category': 'entertainment'},
  {'date': '2024-07-27',
   'description': 'EMI Payment – SBI Credit Card',
   'amount': -7000,
   'type': 'expense',
   'category': 'EMI'},
  {'date': '2024-07-29',
   'description': 'Café Coffee Day – Snacks',
   'amount': -3000,
   'type': 'expense',
   'category': 'food'},
  {'date': '2024-08-01',
   'description': 'Salary Credit – INFOSYS LTD',
   'amount': 120000,
   'type': 'income',
   'category': 'salary'},
  {'date': '2024-08-03',
   'description': 'EMI Payment – HDFC BANK Loan No. 8734',
   'amount': -3500,
   'type': 'expense',
   'category': 'EMI'},
  {'date': '2024-08-05',
   'description': 'Grofers – Groceries',
   'amount': -3500,
   'type': 'expense',
   'category': 'groceries'},
  {'date': '2024-08-10',
   'description': 'Travel – Indigo Flight',
   'amount': -5000,
   'type': 'expense',
   'category': 'travel'},
  {'date': '2024-08-12',
   'description': 'Entertainment – PVR Movies',
   'amount': -4000,
   'type': 'expense',
   'category': 'entertainment'},
  {'date': '2024-08-15',
   'description': 'Rent Transfer – To ANKIT SHARMA',
   'amount': -15000,
   'type': 'expense',
   'category': 'rent'},
  {'date': '2024-08-20',
   'description': 'Swiggy – Dinner Party',
   'amount': -6200,
   'type': 'expense',
   'category': 'food'},
  {'date': '2024-08-25',
   'description': 'Mobile Recharge – Airtel',
   'amount': -2400,
   'type': 'expense',
   'category': 'utilities'}],
 'insights': 'Key patterns: Regular monthly salary deposits of 120,000 on the 1st (and occasionally other months), with EMI payments (~12,500 monthly) and rent of 15,000 every month. Discretionary spending is prominent in food/entertainment (Swiggy, Zomato, Netflix, cinema, dining out, mall shopping). Travel expenses include flights, Ola, Goibibo bookings, and fuel. Banking balance ends at 326,800 as of 31-Aug-2024, indicating a healthy cumulative savings given five salary inflows totaling 600,000 over the period. Recommendations: set a monthly savings target (e.g., 20-30% of take-home pay), review recurring subscriptions (Netflix, OTT), establish a separate emergency fund (3-6 months of expenses), and consider budgeting for travel and dining out to improve long-term liquidity. If travel or entertainment are high-priority, earmark a dedicated monthly allowance to prevent negative impact on core savings.'}

In [37]:
print(result)

{'messages': [HumanMessage(content='statements\\Mock_Bank_Statement.pdf', additional_kwargs={}, response_metadata={}, id='17b26a07-994a-464e-9485-64da20829285'), AIMessage(content='', additional_kwargs={'parsed': None, 'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 160, 'prompt_tokens': 534, 'total_tokens': 694, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 128, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_provider': 'openai', 'model_name': 'gpt-5-nano-2025-08-07', 'system_fingerprint': None, 'id': 'chatcmpl-CWFuSY7RrlaE2e57daC54cv32EDW4', 'service_tier': 'default', 'finish_reason': 'tool_calls', 'logprobs': None}, id='lc_run--b7d94433-849e-4345-b412-db64af3a9cf5-0', tool_calls=[{'name': 'parse_pdf', 'args': {'file_path': 'statements\\Mock_Bank_Statement.pdf'}, 'id': 'call_NO2QkPyd2wjY9nLzhYHXXXzc', 'type': 'tool_call'}], usage_metadata={'input_tokens': 534, 'output_tokens': 160, 'total_tokens': 694, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 128}}), ToolMessage(content='STATE BANK OF INDIA\nBranch Code: 04521\nAccount Number: 0000005023841123\nAccount Name: RAHUL VERMA\nAccount Description: Savings Account\nBranch: KORMANGALA, BANGALORE\nInterest Rate: 3.50% p.a.\nCIF No.: 9834271201\nStart Date: 01/04/2024\nEnd Date: 31/08/2024\nValue Date\nPost Date\nCredit Amount\nDebit Amount\nClosing Balance\nDescription\n01-Apr-2024\n01-Apr-2024\n1,20,000\n1,20,000\nSalary Credit – INFOSYS LTD\n03-Apr-2024\n03-Apr-2024\n3,200\n1,16,800\nAMAZON Purchase – Groceries\n05-Apr-2024\n05-Apr-2024\n12,500\n1,04,300\nEMI Payment – HDFC BANK Loan No. 8734\n07-Apr-2024\n07-Apr-2024\n2,400\n1,01,900\nZOMATO – Food Order\n10-Apr-2024\n10-Apr-2024\n1,500\n1,00,400\nSwiggy – Food Delivery\n12-Apr-2024\n12-Apr-2024\n2,000\n1,02,400\nInterest on FD – SBI\n15-Apr-2024\n15-Apr-2024\n4,800\n97,600\nIRCTC – Train Ticket (Delhi Trip)\n18-Apr-2024\n18-Apr-2024\n5,000\n92,600\nFuel Payment – HP Petrol Pump\n20-Apr-2024\n20-Apr-2024\n15,000\n77,600\nRent Transfer – To ANKIT SHARMA\n23-Apr-2024\n23-Apr-2024\n3,000\n74,600\nNetflix Annual Subscription\n01-May-2024\n01-May-2024\n1,20,000\n1,94,600\nSalary Credit – INFOSYS LTD\n03-May-2024\n03-May-2024\n12,500\n1,82,100\nEMI Payment – HDFC BANK Loan No. 8734\n05-May-2024\n05-May-2024\n2,700\n1,79,400\nSPAR – Groceries\n07-May-2024\n07-May-2024\n1,200\n1,78,200\nSwiggy – Food Order\n09-May-2024\n09-May-2024\n3,000\n1,75,200\nUber – Local Travel\n12-May-2024\n12-May-2024\n9,800\n1,65,400\nIndigo Airlines – Flight to Delhi\n15-May-2024\n15-May-2024\n15,000\n1,50,400\nRent Transfer – To ANKIT SHARMA\n18-May-2024\n18-May-2024\n2,500\n1,47,900\nBigBasket – Groceries\n21-May-2024\n21-May-2024\n3,000\n1,50,900\nRefund – Indigo Airlines\n25-May-2024\n25-May-2024\n6,200\n1,44,700\nCafé Coffee Day – Entertainment\n28-May-2024\n28-May-2024\n4,200\n1,40,500\nShopping – Lifestyle Mall\n01-Jun-2024\n01-Jun-2024\n1,20,000\n2,60,500\nSalary Credit – INFOSYS LTD\n03-Jun-2024\n03-Jun-2024\n12,500\n2,48,000\nEMI Payment – HDFC BANK Loan No. 8734\n05-Jun-2024\n05-Jun-2024\n1,900\n2,46,100\nAmazon Fresh – Groceries\n07-Jun-2024\n07-Jun-2024\n15,000\n2,31,100\nRent Transfer – To ANKIT SHARMA\n09-Jun-2024\n09-Jun-2024\n5,000\n2,26,100\nGoibibo – Hotel Booking\n12-Jun-2024\n12-Jun-2024\n2,800\n2,23,300\nSwiggy – Lunch Order\n14-Jun-2024\n14-Jun-2024\n3,200\n2,20,100\nMedical Store – Apollo Pharmacy\n18-Jun-2024\n18-Jun-2024\n2,000\n2,18,100\nAuto Debit – Mobile Bill (Airtel)\n22-Jun-2024\n22-Jun-2024\n6,500\n2,11,600\nMovie + Dinner – Entertainment\n25-Jun-2024\n25-Jun-2024\n7,000\n2,04,600\nEMI Payment – SBI Credit Card\n27-Jun-2024\n27-Jun-2024\n4,500\n2,00,100\nAmazon Purchase – Electronics\n01-Jul-2024\n01-Jul-2024\n1,20,000\n3,20,100\nSalary Credit – INFOSYS LTD\n03-Jul-2024\n03-Jul-2024\n12,500\n3,07,600\nEMI Payment – HDFC BANK Loan No. 8734\n05-Jul-2024\n05-Jul-2024\n2,000\n3,05,600\nBigBasket – Groceries\nValue Date\nPost Date\nCredit Amount\nDebit Amount\nClosing Balance\nDescription\n06-Jul-2024\n06-Jul-2024\n1,500\n3,04,100\nDomino’s – Food Order\n08-Jul-2024\n08-Jul-2024\n2,300\n3,01,800\nTravel – Ola Outstation\n12-Jul-2024\n12-Jul-2024\n15,000\n2,86,800\nRent Transfer – To ANKIT SHARMA\n15-Jul-2024\n15-Jul-2024\n2,200\n2,84,600\nSwiggy – Dinner\n18-Jul-2024\n18-Jul-2024\n6,200\n2,78,400\nEMI Payment – HDFC BANK (Late Fee Applied)\n19-Jul-2024\n19-Jul-2024\n500\n2,77,900\nEMI Late Payment Penalty – HDFC BANK\n22-Jul-2024\n22-Jul-2024\n8,000\n2,69,900\nMedical Insurance Premium – LIC\n25-Jul-2024\n25-Jul-2024\n4,500\n2,65,400\nRestaurant – Friends Dinner\n27-Jul-2024\n27-Jul-2024\n7,000\n2,58,400\nEMI Payment – SBI Credit Card\n29-Jul-2024\n29-Jul-2024\n3,000\n2,55,400\nCafé Coffee Day – Snacks\n01-Aug-2024\n01-Aug-2024\n1,20,000\n3,75,400\nSalary Credit – INFOSYS LTD\n03-Aug-2024\n03-Aug-2024\n12,500\n3,62,900\nEMI Payment – HDFC BANK Loan No. 8734\n05-Aug-2024\n05-Aug-2024\n3,500\n3,59,400\nGrofers – Groceries\n10-Aug-2024\n10-Aug-2024\n5,000\n3,54,400\nTravel – Indigo Flight\n12-Aug-2024\n12-Aug-2024\n4,000\n3,50,400\nEntertainment – PVR Movies\n15-Aug-2024\n15-Aug-2024\n15,000\n3,35,400\nRent Transfer – To ANKIT SHARMA\n20-Aug-2024\n20-Aug-2024\n6,200\n3,29,200\nSwiggy – Dinner Party\n25-Aug-2024\n25-Aug-2024\n2,400\n3,26,800\nMobile Recharge – Airtel', name='parse_pdf', id='cc25b46f-3f38-4dc7-b26f-f40929966ef2', tool_call_id='call_NO2QkPyd2wjY9nLzhYHXXXzc'), AIMessage(content='{"overview":"Account: Rahul Verma | Bank: State Bank of India | Branch: Kormangala, Bangalore | Account Number: 0000005023841123 | Statement period: 01-Apr-2024 to 31-Aug-2024 | Closing balance: 326,800. Opening balance not shown in the extracted data. The statement shows regular salary credits from Infosys and recurring expenses across groceries, utilities, rent, travel, entertainment, and EMI payments. A refund of 3,000 was received on 21-May-2024 ( Indigo Airlines ). Overall, spending leans toward discretionary categories (food, entertainment, travel) with substantial EMI payments and monthly rent; salary deposits provide liquidity for savings, culminating in a closing balance of 326,800.",\n  "transactions": [\n    {"date":"2024-04-01","description":"Salary Credit – INFOSYS LTD","amount":120000,"type":"income","category":"salary"},\n    {"date":"2024-04-03","description":"AMAZON Purchase – Groceries","amount":-3200,"type":"expense","category":"groceries"},\n    {"date":"2024-04-05","description":"EMI Payment – HDFC BANK Loan No. 8734","amount":-12500,"type":"expense","category":"EMI"},\n    {"date":"2024-04-07","description":"ZOMATO – Food Order","amount":-2400,"type":"expense","category":"food"},\n    {"date":"2024-04-10","description":"Swiggy – Food Delivery","amount":-1500,"type":"expense","category":"food"},\n    {"date":"2024-04-12","description":"Interest on FD – SBI","amount":2000,"type":"income","category":"interest"},\n    {"date":"2024-04-15","description":"IRCTC – Train Ticket (Delhi Trip)","amount":-4800,"type":"expense","category":"travel"},\n    {"date":"2024-04-18","description":"Fuel Payment – HP Petrol Pump","amount":-5000,"type":"expense","category":"travel"},\n    {"date":"2024-04-20","description":"Rent Transfer – To ANKIT SHARMA","amount":-15000,"type":"expense","category":"rent"},\n    {"date":"2024-04-23","description":"Netflix Annual Subscription","amount":-3000,"type":"expense","category":"entertainment"},\n    {"date":"2024-05-01","description":"Salary Credit – INFOSYS LTD","amount":120000,"type":"income","category":"salary"},\n    {"date":"2024-05-03","description":"EMI Payment – HDFC BANK Loan No. 8734","amount":-12500,"type":"expense","category":"EMI"},\n    {"date":"2024-05-05","description":"SPAR – Groceries","amount":-2700,"type":"expense","category":"groceries"},\n    {"date":"2024-05-07","description":"Swiggy – Food Order","amount":-1200,"type":"expense","category":"food"},\n    {"date":"2024-05-09","description":"Uber – Local Travel","amount":-3000,"type":"expense","category":"travel"},\n    {"date":"2024-05-12","description":"Indigo Airlines – Flight to Delhi","amount":-9800,"type":"expense","category":"travel"},\n    {"date":"2024-05-15","description":"Rent Transfer – To ANKIT SHARMA","amount":-15000,"type":"expense","category":"rent"},\n    {"date":"2024-05-18","description":"BigBasket – Groceries","amount":-2500,"type":"expense","category":"groceries"},\n    {"date":"2024-05-21","description":"Refund – Indigo Airlines","amount":3000,"type":"income","category":"other"},\n    {"date":"2024-05-25","description":"Café Coffee Day – Entertainment","amount":-4200,"type":"expense","category":"entertainment"},\n    {"date":"2024-05-28","description":"Shopping – Lifestyle Mall","amount":-4200,"type":"expense","category":"entertainment"},\n    {"date":"2024-06-01","description":"Salary Credit – INFOSYS LTD","amount":120000,"type":"income","category":"salary"},\n    {"date":"2024-06-03","description":"EMI Payment – HDFC BANK Loan No. 8734","amount":-12500,"type":"expense","category":"EMI"},\n    {"date":"2024-06-05","description":"Amazon Fresh – Groceries","amount":-1900,"type":"expense","category":"groceries"},\n    {"date":"2024-06-07","description":"BigBasket – Groceries","amount":-15000,"type":"expense","category":"groceries"},\n    {"date":"2024-06-09","description":"Rent Transfer – To ANKIT SHARMA","amount":-5000,"type":"expense","category":"rent"},\n    {"date":"2024-06-12","description":"Goibibo – Hotel Booking","amount":-2800,"type":"expense","category":"travel"},\n    {"date":"2024-06-14","description":"Swiggy – Lunch Order","amount":-3200,"type":"expense","category":"food"},\n    {"date":"2024-06-18","description":"Medical Store – Apollo Pharmacy","amount":-2000,"type":"expense","category":"medical"},\n    {"date":"2024-06-22","description":"Auto Debit – Mobile Bill (Airtel)","amount":-6500,"type":"expense","category":"utilities"},\n    {"date":"2024-06-25","description":"Movie + Dinner – Entertainment","amount":-7000,"type":"expense","category":"entertainment"},\n    {"date":"2024-06-27","description":"EMI Payment – SBI Credit Card","amount":-4500,"type":"expense","category":"EMI"},\n    {"date":"2024-07-01","description":"Salary Credit – INFOSYS LTD","amount":120000,"type":"income","category":"salary"},\n    {"date":"2024-07-03","description":"EMI Payment – HDFC BANK Loan No. 8734","amount":-12500,"type":"expense","category":"EMI"},\n    {"date":"2024-07-05","description":"BigBasket – Groceries","amount":-2000,"type":"expense","category":"groceries"},\n    {"date":"2024-07-07","description":"Travel – Ola Outstation","amount":-1200,"type":"expense","category":"travel"},\n    {"date":"2024-07-12","description":"Rent Transfer – To ANKIT SHARMA","amount":-15000,"type":"expense","category":"rent"},\n    {"date":"2024-07-15","description":"Swiggy – Dinner","amount":-2200,"type":"expense","category":"food"},\n    {"date":"2024-07-18","description":"EMI Payment – HDFC BANK (Late Fee Applied)","amount":-6200,"type":"expense","category":"EMI"},\n    {"date":"2024-07-19","description":"EMI Late Payment Penalty – HDFC BANK","amount":-500,"type":"expense","category":"EMI"},\n    {"date":"2024-07-22","description":"Medical Insurance Premium – LIC","amount":-8000,"type":"expense","category":"medical"},\n    {"date":"2024-07-25","description":"Restaurant – Friends Dinner","amount":-4500,"type":"expense","category":"entertainment"},\n    {"date":"2024-07-27","description":"EMI Payment – SBI Credit Card","amount":-7000,"type":"expense","category":"EMI"},\n    {"date":"2024-07-29","description":"Café Coffee Day – Snacks","amount":-3000,"type":"expense","category":"food"},\n    {"date":"2024-08-01","description":"Salary Credit – INFOSYS LTD","amount":120000,"type":"income","category":"salary"},\n    {"date":"2024-08-03","description":"EMI Payment – HDFC BANK Loan No. 8734","amount":-3500,"type":"expense","category":"EMI"},\n    {"date":"2024-08-05","description":"Grofers – Groceries","amount":-3500,"type":"expense","category":"groceries"},\n    {"date":"2024-08-10","description":"Travel – Indigo Flight","amount":-5000,"type":"expense","category":"travel"},\n    {"date":"2024-08-12","description":"Entertainment – PVR Movies","amount":-4000,"type":"expense","category":"entertainment"},\n    {"date":"2024-08-15","description":"Rent Transfer – To ANKIT SHARMA","amount":-15000,"type":"expense","category":"rent"},\n    {"date":"2024-08-20","description":"Swiggy – Dinner Party","amount":-6200,"type":"expense","category":"food"},\n    {"date":"2024-08-25","description":"Mobile Recharge – Airtel","amount":-2400,"type":"expense","category":"utilities"}\n  ],\n  "insights":"Key patterns: Regular monthly salary deposits of 120,000 on the 1st (and occasionally other months), with EMI payments (~12,500 monthly) and rent of 15,000 every month. Discretionary spending is prominent in food/entertainment (Swiggy, Zomato, Netflix, cinema, dining out, mall shopping). Travel expenses include flights, Ola, Goibibo bookings, and fuel. Banking balance ends at 326,800 as of 31-Aug-2024, indicating a healthy cumulative savings given five salary inflows totaling 600,000 over the period. Recommendations: set a monthly savings target (e.g., 20-30% of take-home pay), review recurring subscriptions (Netflix, OTT), establish a separate emergency fund (3-6 months of expenses), and consider budgeting for travel and dining out to improve long-term liquidity. If travel or entertainment are high-priority, earmark a dedicated monthly allowance to prevent negative impact on core savings."}', additional_kwargs={'parsed': None, 'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 16567, 'prompt_tokens': 2281, 'total_tokens': 18848, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 14336, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_provider': 'openai', 'model_name': 'gpt-5-nano-2025-08-07', 'system_fingerprint': None, 'id': 'chatcmpl-CWFuVHNalgx8qZrpVjivYI3oseUO0', 'service_tier': 'default', 'finish_reason': 'stop', 'logprobs': None}, id='lc_run--74661b82-fb40-4076-8f21-6f6870488348-0', usage_metadata={'input_tokens': 2281, 'output_tokens': 16567, 'total_tokens': 18848, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 14336}})], 'structured_response': {'overview': 'Account: Rahul Verma | Bank: State Bank of India | Branch: Kormangala, Bangalore | Account Number: 0000005023841123 | Statement period: 01-Apr-2024 to 31-Aug-2024 | Closing balance: 326,800. Opening balance not shown in the extracted data. The statement shows regular salary credits from Infosys and recurring expenses across groceries, utilities, rent, travel, entertainment, and EMI payments. A refund of 3,000 was received on 21-May-2024 ( Indigo Airlines ). Overall, spending leans toward discretionary categories (food, entertainment, travel) with substantial EMI payments and monthly rent; salary deposits provide liquidity for savings, culminating in a closing balance of 326,800.', 'transactions': [{'date': '2024-04-01', 'description': 'Salary Credit – INFOSYS LTD', 'amount': 120000, 'type': 'income', 'category': 'salary'}, {'date': '2024-04-03', 'description': 'AMAZON Purchase – Groceries', 'amount': -3200, 'type': 'expense', 'category': 'groceries'}, {'date': '2024-04-05', 'description': 'EMI Payment – HDFC BANK Loan No. 8734', 'amount': -12500, 'type': 'expense', 'category': 'EMI'}, {'date': '2024-04-07', 'description': 'ZOMATO – Food Order', 'amount': -2400, 'type': 'expense', 'category': 'food'}, {'date': '2024-04-10', 'description': 'Swiggy – Food Delivery', 'amount': -1500, 'type': 'expense', 'category': 'food'}, {'date': '2024-04-12', 'description': 'Interest on FD – SBI', 'amount': 2000, 'type': 'income', 'category': 'interest'}, {'date': '2024-04-15', 'description': 'IRCTC – Train Ticket (Delhi Trip)', 'amount': -4800, 'type': 'expense', 'category': 'travel'}, {'date': '2024-04-18', 'description': 'Fuel Payment – HP Petrol Pump', 'amount': -5000, 'type': 'expense', 'category': 'travel'}, {'date': '2024-04-20', 'description': 'Rent Transfer – To ANKIT SHARMA', 'amount': -15000, 'type': 'expense', 'category': 'rent'}, {'date': '2024-04-23', 'description': 'Netflix Annual Subscription', 'amount': -3000, 'type': 'expense', 'category': 'entertainment'}, {'date': '2024-05-01', 'description': 'Salary Credit – INFOSYS LTD', 'amount': 120000, 'type': 'income', 'category': 'salary'}, {'date': '2024-05-03', 'description': 'EMI Payment – HDFC BANK Loan No. 8734', 'amount': -12500, 'type': 'expense', 'category': 'EMI'}, {'date': '2024-05-05', 'description': 'SPAR – Groceries', 'amount': -2700, 'type': 'expense', 'category': 'groceries'}, {'date': '2024-05-07', 'description': 'Swiggy – Food Order', 'amount': -1200, 'type': 'expense', 'category': 'food'}, {'date': '2024-05-09', 'description': 'Uber – Local Travel', 'amount': -3000, 'type': 'expense', 'category': 'travel'}, {'date': '2024-05-12', 'description': 'Indigo Airlines – Flight to Delhi', 'amount': -9800, 'type': 'expense', 'category': 'travel'}, {'date': '2024-05-15', 'description': 'Rent Transfer – To ANKIT SHARMA', 'amount': -15000, 'type': 'expense', 'category': 'rent'}, {'date': '2024-05-18', 'description': 'BigBasket – Groceries', 'amount': -2500, 'type': 'expense', 'category': 'groceries'}, {'date': '2024-05-21', 'description': 'Refund – Indigo Airlines', 'amount': 3000, 'type': 'income', 'category': 'other'}, {'date': '2024-05-25', 'description': 'Café Coffee Day – Entertainment', 'amount': -4200, 'type': 'expense', 'category': 'entertainment'}, {'date': '2024-05-28', 'description': 'Shopping – Lifestyle Mall', 'amount': -4200, 'type': 'expense', 'category': 'entertainment'}, {'date': '2024-06-01', 'description': 'Salary Credit – INFOSYS LTD', 'amount': 120000, 'type': 'income', 'category': 'salary'}, {'date': '2024-06-03', 'description': 'EMI Payment – HDFC BANK Loan No. 8734', 'amount': -12500, 'type': 'expense', 'category': 'EMI'}, {'date': '2024-06-05', 'description': 'Amazon Fresh – Groceries', 'amount': -1900, 'type': 'expense', 'category': 'groceries'}, {'date': '2024-06-07', 'description': 'BigBasket – Groceries', 'amount': -15000, 'type': 'expense', 'category': 'groceries'}, {'date': '2024-06-09', 'description': 'Rent Transfer – To ANKIT SHARMA', 'amount': -5000, 'type': 'expense', 'category': 'rent'}, {'date': '2024-06-12', 'description': 'Goibibo – Hotel Booking', 'amount': -2800, 'type': 'expense', 'category': 'travel'}, {'date': '2024-06-14', 'description': 'Swiggy – Lunch Order', 'amount': -3200, 'type': 'expense', 'category': 'food'}, {'date': '2024-06-18', 'description': 'Medical Store – Apollo Pharmacy', 'amount': -2000, 'type': 'expense', 'category': 'medical'}, {'date': '2024-06-22', 'description': 'Auto Debit – Mobile Bill (Airtel)', 'amount': -6500, 'type': 'expense', 'category': 'utilities'}, {'date': '2024-06-25', 'description': 'Movie + Dinner – Entertainment', 'amount': -7000, 'type': 'expense', 'category': 'entertainment'}, {'date': '2024-06-27', 'description': 'EMI Payment – SBI Credit Card', 'amount': -4500, 'type': 'expense', 'category': 'EMI'}, {'date': '2024-07-01', 'description': 'Salary Credit – INFOSYS LTD', 'amount': 120000, 'type': 'income', 'category': 'salary'}, {'date': '2024-07-03', 'description': 'EMI Payment – HDFC BANK Loan No. 8734', 'amount': -12500, 'type': 'expense', 'category': 'EMI'}, {'date': '2024-07-05', 'description': 'BigBasket – Groceries', 'amount': -2000, 'type': 'expense', 'category': 'groceries'}, {'date': '2024-07-07', 'description': 'Travel – Ola Outstation', 'amount': -1200, 'type': 'expense', 'category': 'travel'}, {'date': '2024-07-12', 'description': 'Rent Transfer – To ANKIT SH

In [27]:
head_results = result["structured_response"]["transactions"]
print("Total number of analysed transactions:",len(head_results))
for each_result in head_results:
    print(each_result)

Total number of analysed transactions: 52
{'date': '2024-04-01', 'description': 'Salary Credit – INFOSYS LTD', 'amount': 120000, 'type': 'income', 'category': 'salary'}
{'date': '2024-04-03', 'description': 'AMAZON Purchase – Groceries', 'amount': -3200, 'type': 'expense', 'category': 'groceries'}
{'date': '2024-04-05', 'description': 'EMI Payment – HDFC BANK Loan No. 8734', 'amount': -12500, 'type': 'expense', 'category': 'EMI'}
{'date': '2024-04-07', 'description': 'ZOMATO – Food Order', 'amount': -2400, 'type': 'expense', 'category': 'food'}
{'date': '2024-04-10', 'description': 'Swiggy – Food Delivery', 'amount': -1500, 'type': 'expense', 'category': 'food'}
{'date': '2024-04-12', 'description': 'Interest on FD – SBI', 'amount': 2000, 'type': 'income', 'category': 'interest'}
{'date': '2024-04-15', 'description': 'IRCTC – Train Ticket (Delhi Trip)', 'amount': -4800, 'type': 'expense', 'category': 'travel'}
{'date': '2024-04-18', 'description': 'Fuel Payment – HP Petrol Pump', 'amount': -5000, 'type': 'expense', 'category': 'travel'}
{'date': '2024-04-20', 'description': 'Rent Transfer – To ANKIT SHARMA', 'amount': -15000, 'type': 'expense', 'category': 'rent'}
{'date': '2024-04-23', 'description': 'Netflix Annual Subscription', 'amount': -3000, 'type': 'expense', 'category': 'entertainment'}
{'date': '2024-05-01', 'description': 'Salary Credit – INFOSYS LTD', 'amount': 120000, 'type': 'income', 'category': 'salary'}
{'date': '2024-05-03', 'description': 'EMI Payment – HDFC BANK Loan No. 8734', 'amount': -12500, 'type': 'expense', 'category': 'EMI'}
{'date': '2024-05-05', 'description': 'SPAR – Groceries', 'amount': -2700, 'type': 'expense', 'category': 'groceries'}
{'date': '2024-05-07', 'description': 'Swiggy – Food Order', 'amount': -1200, 'type': 'expense', 'category': 'food'}
{'date': '2024-05-09', 'description': 'Uber – Local Travel', 'amount': -3000, 'type': 'expense', 'category': 'travel'}
{'date': '2024-05-12', 'description': 'Indigo Airlines – Flight to Delhi', 'amount': -9800, 'type': 'expense', 'category': 'travel'}
{'date': '2024-05-15', 'description': 'Rent Transfer – To ANKIT SHARMA', 'amount': -15000, 'type': 'expense', 'category': 'rent'}
{'date': '2024-05-18', 'description': 'BigBasket – Groceries', 'amount': -2500, 'type': 'expense', 'category': 'groceries'}
{'date': '2024-05-21', 'description': 'Refund – Indigo Airlines', 'amount': 3000, 'type': 'income', 'category': 'other'}
{'date': '2024-05-25', 'description': 'Café Coffee Day – Entertainment', 'amount': -4200, 'type': 'expense', 'category': 'entertainment'}
{'date': '2024-05-28', 'description': 'Shopping – Lifestyle Mall', 'amount': -4200, 'type': 'expense', 'category': 'entertainment'}
{'date': '2024-06-01', 'description': 'Salary Credit – INFOSYS LTD', 'amount': 120000, 'type': 'income', 'category': 'salary'}
{'date': '2024-06-03', 'description': 'EMI Payment – HDFC BANK Loan No. 8734', 'amount': -12500, 'type': 'expense', 'category': 'EMI'}
{'date': '2024-06-05', 'description': 'Amazon Fresh – Groceries', 'amount': -1900, 'type': 'expense', 'category': 'groceries'}
{'date': '2024-06-07', 'description': 'BigBasket – Groceries', 'amount': -15000, 'type': 'expense', 'category': 'groceries'}
{'date': '2024-06-09', 'description': 'Rent Transfer – To ANKIT SHARMA', 'amount': -5000, 'type': 'expense', 'category': 'rent'}
{'date': '2024-06-12', 'description': 'Goibibo – Hotel Booking', 'amount': -2800, 'type': 'expense', 'category': 'travel'}
{'date': '2024-06-14', 'description': 'Swiggy – Lunch Order', 'amount': -3200, 'type': 'expense', 'category': 'food'}
{'date': '2024-06-18', 'description': 'Medical Store – Apollo Pharmacy', 'amount': -2000, 'type': 'expense', 'category': 'medical'}
{'date': '2024-06-22', 'description': 'Auto Debit – Mobile Bill (Airtel)', 'amount': -6500, 'type': 'expense', 'category': 'utilities'}
{'date': '2024-06-25', 'description': 'Movie + Dinner – Entertainment', 'amount': -7000, 'type': 'expense', 'category': 'entertainment'}
{'date': '2024-06-27', 'description': 'EMI Payment – SBI Credit Card', 'amount': -4500, 'type': 'expense', 'category': 'EMI'}
{'date': '2024-07-01', 'description': 'Salary Credit – INFOSYS LTD', 'amount': 120000, 'type': 'income', 'category': 'salary'}
{'date': '2024-07-03', 'description': 'EMI Payment – HDFC BANK Loan No. 8734', 'amount': -12500, 'type': 'expense', 'category': 'EMI'}
{'date': '2024-07-05', 'description': 'BigBasket – Groceries', 'amount': -2000, 'type': 'expense', 'category': 'groceries'}
{'date': '2024-07-07', 'description': 'Travel – Ola Outstation', 'amount': -1200, 'type': 'expense', 'category': 'travel'}
{'date': '2024-07-12', 'description': 'Rent Transfer – To ANKIT SHARMA', 'amount': -15000, 'type': 'expense', 'category': 'rent'}
{'date': '2024-07-15', 'description': 'Swiggy – Dinner', 'amount': -2200, 'type': 'expense', 'category': 'food'}
{'date': '2024-07-18', 'description': 'EMI Payment – HDFC BANK (Late Fee Applied)', 'amount': -6200, 'type': 'expense', 'category': 'EMI'}
{'date': '2024-07-19', 'description': 'EMI Late Payment Penalty – HDFC BANK', 'amount': -500, 'type': 'expense', 'category': 'EMI'}
{'date': '2024-07-22', 'description': 'Medical Insurance Premium – LIC', 'amount': -8000, 'type': 'expense', 'category': 'medical'}
{'date': '2024-07-25', 'description': 'Restaurant – Friends Dinner', 'amount': -4500, 'type': 'expense', 'category': 'entertainment'}
{'date': '2024-07-27', 'description': 'EMI Payment – SBI Credit Card', 'amount': -7000, 'type': 'expense', 'category': 'EMI'}
{'date': '2024-07-29', 'description': 'Café Coffee Day – Snacks', 'amount': -3000, 'type': 'expense', 'category': 'food'}
{'date': '2024-08-01', 'description': 'Salary Credit – INFOSYS LTD', 'amount': 120000, 'type': 'income', 'category': 'salary'}
{'date': '2024-08-03', 'description': 'EMI Payment – HDFC BANK Loan No. 8734', 'amount': -3500, 'type': 'expense', 'category': 'EMI'}
{'date': '2024-08-05', 'description': 'Grofers – Groceries', 'amount': -3500, 'type': 'expense', 'category': 'groceries'}
{'date': '2024-08-10', 'description': 'Travel – Indigo Flight', 'amount': -5000, 'type': 'expense', 'category': 'travel'}
{'date': '2024-08-12', 'description': 'Entertainment – PVR Movies', 'amount': -4000, 'type': 'expense', 'category': 'entertainment'}
{'date': '2024-08-15', 'description': 'Rent Transfer – To ANKIT SHARMA', 'amount': -15000, 'type': 'expense', 'category': 'rent'}
{'date': '2024-08-20', 'description': 'Swiggy – Dinner Party', 'amount': -6200, 'type': 'expense', 'category': 'food'}
{'date': '2024-08-25', 'description': 'Mobile Recharge – Airtel', 'amount': -2400, 'type': 'expense', 'category': 'utilities'}

In [28]:
print("Overview:", result["structured_response"]["overview"])
print("Insights:", result["structured_response"]["insights"])

Overview: Account: Rahul Verma | Bank: State Bank of India | Branch: Kormangala, Bangalore | Account Number: 0000005023841123 | Statement period: 01-Apr-2024 to 31-Aug-2024 | Closing balance: 326,800. Opening balance not shown in the extracted data. The statement shows regular salary credits from Infosys and recurring expenses across groceries, utilities, rent, travel, entertainment, and EMI payments. A refund of 3,000 was received on 21-May-2024 ( Indigo Airlines ). Overall, spending leans toward discretionary categories (food, entertainment, travel) with substantial EMI payments and monthly rent; salary deposits provide liquidity for savings, culminating in a closing balance of 326,800.
Insights: Key patterns: Regular monthly salary deposits of 120,000 on the 1st (and occasionally other months), with EMI payments (~12,500 monthly) and rent of 15,000 every month. Discretionary spending is prominent in food/entertainment (Swiggy, Zomato, Netflix, cinema, dining out, mall shopping). Travel expenses include flights, Ola, Goibibo bookings, and fuel. Banking balance ends at 326,800 as of 31-Aug-2024, indicating a healthy cumulative savings given five salary inflows totaling 600,000 over the period. Recommendations: set a monthly savings target (e.g., 20-30% of take-home pay), review recurring subscriptions (Netflix, OTT), establish a separate emergency fund (3-6 months of expenses), and consider budgeting for travel and dining out to improve long-term liquidity. If travel or entertainment are high-priority, earmark a dedicated monthly allowance to prevent negative impact on core savings.

In [29]:
out_df = pd.DataFrame(result["structured_response"]["transactions"])
out_df["date"] = pd.to_datetime(out_df["date"])

# Create a readable month label (e.g., "October 2025")
out_df["month"] = out_df["date"].dt.strftime("%B %Y")

out_df

,date,description,amount,type,category,month
0,2024-04-01,Salary Credit – INFOSYS LTD,120000,income,salary,April 2024
1,2024-04-03,AMAZON Purchase – Groceries,-3200,expense,groceries,April 2024
2,2024-04-05,EMI Payment – HDFC BANK Loan No. 8734,-12500,expense,EMI,April 2024
3,2024-04-07,ZOMATO – Food Order,-2400,expense,food,April 2024
4,2024-04-10,Swiggy – Food Delivery,-1500,expense,food,April 2024
5,2024-04-12,Interest on FD – SBI,2000,income,interest,April 2024
6,2024-04-15,IRCTC – Train Ticket (Delhi Trip),-4800,expense,travel,April 2024
7,2024-04-18,Fuel Payment – HP Petrol Pump,-5000,expense,travel,April 2024
8,2024-04-20,Rent Transfer – To ANKIT SHARMA,-15000,expense,rent,April 2024
9,2024-04-23,Netflix Annual Subscription,-3000,expense,entertainment,April 2024
10,2024-05-01,Salary Credit – INFOSYS LTD,120000,income,salary,May 2024
11,2024-05-03,EMI Payment – HDFC BANK Loan No. 8734,-12500,expense,EMI,May 2024
12,2024-05-05,SPAR – Groceries,-2700,expense,groceries,May 2024
13,2024-05-07,Swiggy – Food Order,-1200,expense,food,May 2024
14,2024-05-09,Uber – Local Travel,-3000,expense,travel,May 2024
15,2024-05-12,Indigo Airlines – Flight to Delhi,-9800,expense,travel,May 2024
16,2024-05-15,Rent Transfer – To ANKIT SHARMA,-15000,expense,rent,May 2024
17,2024-05-18,BigBasket – Groceries,-2500,expense,groceries,May 2024
18,2024-05-21,Refund – Indigo Airlines,3000,income,other,May 2024
19,2024-05-25,Café Coffee Day – Entertainment,-4200,expense,entertainment,May 2024
20,2024-05-28,Shopping – Lifestyle Mall,-4200,expense,entertainment,May 2024
21,2024-06-01,Salary Credit – INFOSYS LTD,120000,income,salary,June 2024
22,2024-06-03,EMI Payment – HDFC BANK Loan No. 8734,-12500,expense,EMI,June 2024
23,2024-06-05,Amazon Fresh – Groceries,-1900,expense,groceries,June 2024
24,2024-06-07,BigBasket – Groceries,-15000,expense,groceries,June 2024
25,2024-06-09,Rent Transfer – To ANKIT SHARMA,-5000,expense,rent,June 2024
26,2024-06-12,Goibibo – Hotel Booking,-2800,expense,travel,June 2024
27,2024-06-14,Swiggy – Lunch Order,-3200,expense,food,June 2024
28,2024-06-18,Medical Store – Apollo Pharmacy,-2000,expense,medical,June 2024
29,2024-06-22,Auto Debit – Mobile Bill (Airtel),-6500,expense,utilities,June 2024
30,2024-06-25,Movie + Dinner – Entertainment,-7000,expense,entertainment,June 2024
31,2024-06-27,EMI Payment – SBI Credit Card,-4500,expense,EMI,June 2024
32,2024-07-01,Salary Credit – INFOSYS LTD,120000,income,salary,July 2024
33,2024-07-03,EMI Payment – HDFC BANK Loan No. 8734,-12500,expense,EMI,July 2024
34,2024-07-05,BigBasket – Groceries,-2000,expense,groceries,July 2024
35,2024-07-07,Travel – Ola Outstation,-1200,expense,travel,July 2024
36,2024-07-12,Rent Transfer – To ANKIT SHARMA,-15000,expense,rent,July 2024
37,2024-07-15,Swiggy – Dinner,-2200,expense,food,July 2024
38,2024-07-18,EMI Payment – HDFC BANK (Late Fee Applied),-6200,expense,EMI,July 2024
39,2024-07-19,EMI Late Payment Penalty – HDFC BANK,-500,expense,EMI,July 2024
40,2024-07-22,Medical Insurance Premium – LIC,-8000,expense,medical,July 2024
41,2024-07-25,Restaurant – Friends Dinner,-4500,expense,entertainment,July 2024
42,2024-07-27,EMI Payment – SBI Credit Card,-7000,expense,EMI,July 2024
43,2024-07-29,Café Coffee Day – Snacks,-3000,expense,food,July 2024
44,2024-08-01,Salary Credit – INFOSYS LTD,120000,income,salary,August 2024
45,2024-08-03,EMI Payment – HDFC BANK Loan No. 8734,-3500,expense,EMI,August 2024
46,2024-08-05,Grofers – Groceries,-3500,expense,groceries,August 2024
47,2024-08-10,Travel – Indigo Flight,-5000,expense,travel,August 2024
48,2024-08-12,Entertainment – PVR Movies,-4000,expense,entertainment,August 2024
49,2024-08-15,Rent Transfer – To ANKIT SHARMA,-15000,expense,rent,August 2024
50,2024-08-20,Swiggy – Dinner Party,-6200,expense,food,August 2024
51,2024-08-25,Mobile Recharge – Airtel,-2400,expense,utilities,August 2024

#### Monthly summary of income, expenses and savings

In [30]:
# Then group and summarize
monthly_summary = (
    out_df.groupby(["month", "type"])["amount"]
      .sum()
      .unstack(fill_value=0)
      .reset_index()
      .rename_axis(None, axis=1)
)

monthly_summary["savings"] = monthly_summary.get("income", 0) + monthly_summary.get("expense", 0)

monthly_summary

         month  expense  income  savings
0   April 2024   -47400  122000    74600
1  August 2024   -39600  120000    80400
2    July 2024   -62100  120000    57900
3    June 2024   -60400  120000    59600
4     May 2024   -55100  123000    67900

In [31]:
total_income = monthly_summary["income"].sum()
total_expense = monthly_summary["expense"].sum()
total_savings = monthly_summary["savings"].sum()


print("Total Income:", total_income)
print("Total Expense:", total_expense)
print("Total Savings:", total_savings)

Total Income: 605000
Total Expense: -264600
Total Savings: 340400

#### Category Summary

In [32]:
category_summary = (
    out_df.groupby(["category", "type"])["amount"]
      .sum()
      .unstack(fill_value=0)
      .reset_index()
      .rename_axis(None, axis=1)
)

category_summary

         category  expense  income
0             EMI   -71700       0
1   entertainment   -26900       0
2            food   -19700       0
3       groceries   -30800       0
4        interest        0    2000
5         medical   -10000       0
6           other        0    3000
7            rent   -65000       0
8          salary        0  600000
9          travel   -31600       0
10      utilities    -8900       0

## Experimenting

In [39]:
df = pd.read_csv("statements\oct2025_csv.csv", header=None)
info_df = df.iloc[:20]
info_df = info_df.drop(columns=[2,3,4,5,6])
info_text = info_df.to_string(index=False, header=False)

# Clean the text:
info_text = "\n".join(
    re.sub(r'\s+', ' ', line.strip())   # collapse multiple spaces → single space
    for line in info_text.splitlines()
    if line.strip()                     # skip blank lines
)
# You can then print it:
print(info_text)
# info_df

transaction_df = df.iloc[21:].copy()            # data starts from row 21 downward
headers = [str(col).strip() for col in df.iloc[20].tolist()]
transaction_df.columns = headers

transaction_df = transaction_df.drop(columns=["Value Date"])

# Replace empty strings or whitespace-only cells with NaN
transaction_df['Credit'] = transaction_df['Credit'].replace(r'^\s*$', np.nan, regex=True)
transaction_df['Debit'] = transaction_df['Debit'].replace(r'^\s*$', np.nan, regex=True)

transaction_df = transaction_df.rename(columns={"Txn Date": "Date", "Ref No./Cheque No.": "Reference Number"})

transaction_df["Type"] = np.where(
    transaction_df['Credit'].notna(), 'Income',
    np.where(transaction_df['Debit'].notna(), 'Expense', 'Unknown')
)
# transaction_df
trans_json = transaction_df.to_json(orient="records")

print(trans_json)

Account Name : Mr. Rohit Patnaik
Address : C/O Sasi Bhusan Patnaik, 00, WRITER STRE
ET
Bishamakatak-765019
396:Rayagada
Date : 28-Oct-25
Account Number : _00000040381454973
Account Description: LOTUS SAVING BANK-ADHAR- NCHQ
Branch : BISSAMCUTTACK
Drawing Power : 0
Interest Rate(% p.a.): 2.5
MOD Balance : 0
CIF No. : _90805421606
IFS (Indian Financial System) Code : SBIN0012100
CKYCR Number : XXXXXXXXXX1294
MICR (Magnetic Ink Character Recognition) Code : _765002501
Nomination Registered : No
Balance on 1 Oct 2025 : 8,413.30
Start Date : 01-Oct-25
End Date : 31-Oct-25